/* Basic styling */
.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-check-input {
  transform: scale(1.5); /* Adjust this value to make the switch larger */
  width: 7em;
  height: 1em;
}

.form-check-label {
  font-size: 1.2rem;
  margin-left: 0.5em;
}
.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.delete {
  width: 30px;
  background: transparent;
  border: none;
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.delete:hover {
  color: darkred;
}

.completed h2,
.completed p {
  text-decoration: line-through;
  color: gray;
}

/* Dark and light mode styling */
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark input,
.dark button {
  background-color: #333333;
  color: #ffffff;
}

/* Responsive design */
@media (max-width: 600px) {
  .task-input {
    flex-direction: column;
  }
}
